<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container">

	<h1>Lista de personas de mi APP</h1>
	<h1 th:text:"${saludo}"></h1>
	
	<ul>
	  <li> <a href="/servicio/saludo"> Lista</a> </li>
	</ul>
	<table class="table">
  		<thead class="thead-dark">
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>	
			</tr>
		</thead>
		
		<thead>
			<tr th:each="persona:${listaPersonas}">
				<td th:text="${persona.nombre}"></td>
				<td th:text="${persona.apellido}"></td>
				<td></td>	
			</tr>
		</thead>
		
	</table>
</body>	
</html>